practice

chapter_07_hashes/exercise6.rb

exercises/exercise11.md

exercises/exercise14.rb

exercises/data[0],

exercises/data[1],

exercises/data[2]}

exercises/test.rb

exercises/{},

exercises/{}}
